@mixin email-input {
  width: 50%;
  height: 53px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 6px 12px 0 rgba(0, 0, 0, 0.05);
  border: solid 0.5px rgba(0, 0, 0, 0.05);
  background-color: white;
}

@mixin submit-button {
  width: 141px;
  height: 53px;
  background-color: $main-blue;
}
