#app-showcase-section {
  @media screen and(min-width: 960px) {
    display: flex;
    align-items: top;
    margin-top: 6em;
    margin-bottom: 5em;
    justify-content: space-between;
  }
}

#interface-summary-container {
  display: inline-block;
  margin: 1em 0;
}

.interface-summary-item {
  display: flex;
  align-items: center;

  @media screen and(min-width: 960px) {
    margin-bottom: 0.3em;
  }

  p {
    margin-left: 0.9em;
  }
}

#square-shape-icon {
  opacity: 0.5;
}

#bottom-phone {
  width: 100%;
  max-width: 312px;
  margin-bottom: 1.3em;
}

#left-app-showcase-container {
  @media screen and(min-width: 960px) {
    max-width: 32%;
    text-align: left;
    align-self: top;

    h3 {
      font-size: 1.7em;
      margin-bottom: 0.6em;
    }
  }
}

#right-mockup-container {
  @media screen and(min-width: 960px) {
    position: relative;

    #web-mockup-img {
      max-width: 90%;
      z-index: -1;
    }

    #bottom-phone {
      position: absolute;
      width: 30%;
      z-index: 100;
      right: 70%;
      bottom: -8%;

      @media screen and(min-width: 1000px) {
        bottom: -17%;
      }

      @media screen and(min-width: 1049px) {
        width: 28%;
      }
    }
  }
}
