#features-span {
  font-size: 0.83em;
  font-weight: 300;
}

#features-header-container {
  position: relative;
  h3 {
    margin: 0.5em 0;

    @media screen and (min-width: 960px) {
      max-width: 37%;
      text-align: center;
      margin: 0.5em auto;
      font-size: 2.2em;
    }
  }

  p {
    @media screen and (min-width: 960px) {
      max-width: 50%;
      margin: 1.5em auto;
    }
  }
}

#features-summary-main-container {
  margin: 2em 0 3em;
  text-align: center;

  h5 {
    margin: 0.5em 0;
    font-size: 1em;
  }

  a {
    color: $main-blue;
    font-weight: 600;
  }

  span {
    margin-left: 0.3em;
    color: $main-blue;
    font-weight: 600;
  }

  @media screen and (min-width: 960px) {
    display: flex;
    margin-top: 3em;
  }
}

#feature-container-1,
#feature-container-2 {
  margin-bottom: 2.8em;
}

.feature-container {
  @media screen and(min-width: 960px) {
    max-width: 33%;
    padding: 0 2em;
  }
}

#blue-background2 {
  @media screen and(max-width: 959px) {
    display: none;
  }

  max-width: 175px;
  max-height: 175px;
  position: absolute;
  left: 100px;
  top: -15px;

  @media screen and(min-width: 1200px) {
    max-width: 200px;
    max-height: 200px;
    left: 100px;
    top: -45px;
  }

  @media screen and(min-width: 1800px) {
    max-width: 300px;
    max-height: 300px;
    left: 100px;
    top: -95px;
  }
}
