footer {
  padding: 3.8em 0 1.6em;
}

#footer-container {
  p {
    margin-bottom: 1.3em;
  }
  span {
    opacity: 0.8;
    font-size: 0.8em;
  }

  h3 {
    margin-top: 0.4em;
  }
}

#footer-icons-container {
  margin-top: 4em;
  i {
    opacity: 0.2;
    padding-left: 1.6em;
  }
}

#copyright-info {
  opacity: 0.3;
  font-size: 0.65em;
  line-height: 16px;
  margin-top: 2em;
}
