#hero-section {
  h2 {
    font-weight: 900;
    font-size: 2.5em;
  }

  // background: url("../images/orange-purple-rectangle.png") no-repeat -10% -10%;
}

#hero-description {
  font-weight: 300;
}

.submit-button {
  @include submit-button;
}

#compatible-with {
  margin-top: 2.3em;
  opacity: 0.4;
  font-size: 0.55em;
  font-weight: 400;
  letter-spacing: 2px;
}

#compatible-with-image-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.con {
  img {
    width: 60%;
  }
}

#top-phone {
  width: 100%;
  max-width: 310px;
  margin-top: 1.7em;
}

// .con {
//   img {
//     max-width: 30px;
//   }
// }

// .con1 {
//   height: auto;
// }
