#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
}

#showTrackr-logo {
  font-weight: 900;
  margin-right: auto;
}

#trackr {
  color: $main-blue;
}

#nav-middle-section-container {
  display: flex;

  a {
    padding-right: 4em;
    color: black;
    &:last-of-type {
      padding-right: 0;
    }
  }

  @media screen and(max-width: 959px) {
    display: none;
  }
}

#nav-right-side-container {
  margin-left: auto;
  display: flex;
  align-items: center;

  p {
    padding-right: 1.5em;
    font-weight: 700;

    @media screen and(max-width: 600px) {
      display: none;
    }
  }
}

#nav-button {
  font-size: 0.7em;
  width: 92px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(60, 9, 179, 0.3);
  background-color: $main-blue;
  color: white;
  font-weight: 700;
}

.email-input {
  @include email-input;
}

#nav-bottom-border {
  border-bottom: 1px #e0e0e0 solid;
}
