#show-poster-section {
  overflow: hidden;
  margin-bottom: 3.7em;
}

#show-posters-container {
  display: flex;
  justify-content: center;
  animation: slide 40s linear infinite;
  animation-fill-mode: both;
  img {
    width: auto;
    height: auto;
    max-width: 220px;
    max-height: 330px;
  }
}

@keyframes slide {
  from {
    transform: translateX(-1501px);
  }

  to {
    transform: translateX(1653px);
  }
}
