#show-poster-section {
  overflow: hidden;
  margin-bottom: 3.7em;
}

#show-posters-container {
  display: flex;
  justify-content: center;
  animation: slide 20s linear infinite;
  animation-fill-mode: both;
  img {
    width: auto;
    height: auto;
    max-width: 220px;
    max-height: 330px;
  }
}

@keyframes slide {
  // 0% {
  //   transform: translate3d(0, 0, 0);
  // }

  // // 50% {
  // //   transform: translate3d(-692px, 0, 0);
  // // }

  // 100% {
  //   transform: translate3d(-1692px, 0, 0);
  // }

  from {
    transform: translateX(-1200px);
  }

  to {
    transform: translateX(1400px);
  }
}
