#testimonials-section {
  background-color: black;
  padding: 4em 0 7em;
  overflow: hidden;
  @media screen and(min-width: 960px) {
    height: 700px;
  }
}

#community-container {
  color: white;

  button {
    max-width: 216px;
    height: 42px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(32, 5, 97, 0.08),
      0 2px 4px 0 rgba(32, 5, 97, 0.1);
    background-color: $main-blue;
    border: none;
    color: white;
    margin: 1em 0 2.5em 0;
  }

  @media screen and(min-width: 960px) {
    text-align: left;
    width: 42%;
    align-self: center;
    margin-bottom: 14em;
  }
}
#community-div {
  color: white;
  opacity: 0.3;
}

#outer-testimonial-container {
  @media screen and(min-width: 960px) {
    display: flex;
    margin-left: auto;
    position: relative;
    align-items: center;
  }
}
.testimonial-container {
  display: flex;

  @media screen and(min-width: 960px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.testimonial {
  margin-right: 1em;
  width: 260px;
  height: auto;

  @media screen and(min-width: 960px) {
    margin-right: 0;
    margin-bottom: 1.2em;
    max-width: 80%;
  }
}

#community-testimonial-container {
  @media screen and(min-width: 960px) {
    display: flex;
    justify-content: center;
  }
}

.testimonial-container-one {
  position: relative;
  right: 3%;
  bottom: 4%;

  @media screen and(max-width: 959px) {
    animation: slide 40s linear infinite;
    animation-fill-mode: both;
  }
}

@keyframes slide {
  from {
    transform: translateX(960px);
  }

  to {
    transform: translateX(-1363px);
  }
}

.testimonial-container-two {
  position: relative;
  right: 7%;
  top: -25%;

  @media screen and(max-width: 959px) {
    display: none;
  }
}
