#testimonials-section {
  background-color: black;
  padding: 3.5em 0.7em 5.5em;
}

#community-container {
  color: white;

  button {
    max-width: 216px;
    height: 42px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(32, 5, 97, 0.08),
      0 2px 4px 0 rgba(32, 5, 97, 0.1);
    background-color: $main-blue;
    border: none;
    color: white;
    margin: 1em 0 2.5em 0;
  }
}
#community-div {
  color: white;
  opacity: 0.3;
}

#testimonial-container {
  display: flex;
  justify-content: center;
}

.testimonial {
  margin-right: 1em;
  width: 260px;
  height: auto;
}
